* {
  box-sizing: border-box;
}

@font-face {
  font-family: "neoteric";
  src: url("fonts/neoteric-32a8-webfont.woff2") format("woff2"), url("fonts/neoteric-32a8-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 2em "neoteric", monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  color: dodgerblue;
  font: 2em "neoteric", monospace;
  text-align: center;
  margin-bottom: 1%;
}

form {
  font: .65em "neoteric";
  /* width: 50%; */
  /* margin-left: 50%; */

}

form > div {
  /* margin-top: 7.5%; */
}

input {
  appearance: none;
  outline: none;
}

input:focus {
  box-shadow:0 5px 5px steelblue;
}

img {
  max-height: 100%;
  height: auto;
}

button {
  margin: 0 auto;
  appearance: none;
  margin-top: 15%;
  width: 50%;
  height: 50px;
}

#main-container {
  display: flex;
}

#logo {
  height: 256px;
  width: 256px;
}

#backsplash {
  height: 100vh;
  width: 425px;
  float: left;
  
}

#sign-up-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
}

.blurb {
  padding: 2.5%;
  font-size: .75em;
}

.field {
  margin-top: 5%;
  margin-right: 15px;
}