* {
  box-sizing: border-box;
}

@font-face {
  font-family: "neoteric";
  src: url("fonts/neoteric-32a8-webfont.woff2") format("woff2"), url("fonts/neoteric-32a8-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 2em "neoteric", monospace;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  color: dodgerblue;
  font: 2em "neoteric", monospace;
  text-align: center;
  margin-bottom: 1%;
  position: absolute;
  top: 25%;
  left: 0%;
  background-color: rgba(0,0,0,0.9);
  width: 425px;
}

form {
  font: .65em "neoteric";
  /* width: 50%; */
  /* margin-left: 50%; */

}

form > div {
  /* margin-top: 7.5%; */
}

input {
  appearance: none;
  outline: none;
}

input:focus {
  box-shadow:0 5px 5px steelblue;
}

img {
  max-height: 100%;
  height: auto;
}

button {
  margin: 0 auto;
  appearance: none;
  margin-top: 15%;
  width: 50%;
  height: 50px;
  color: dodgerblue;
  background-color: white;
  font: .85em "neoteric";
  border: 2px solid dodgerblue;
  font-weight: bold;
}

button:hover {
  color: white;
  background-color: dodgerblue;
  font-weight: bold;
  
}

#main-container {
  display: flex;
}

#left-content {
  position: relative;
}


#product-name {
  display: flex;
}

#graphein-logo {
  height: 50px;
  margin-right: 2.5%;
}

#backsplash {
  height: 100vh;
  width: 425px;
  float: left;
  position: absolute;
  /* opacity: 0.8; */
}

#transparent-overlay {
  display: flex;
  height: 100vh;
  width: 425px;
  float: left;
  background-color: rgba(0,0,0);
  /* z-index: 9; */
  /* color: dodgerblue; */
  justify-content: center;
}

#sign-up-form {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
}

.blurb {
  margin-top: 12.5%;
  padding: 2.5%;
  font-size: .75em;
}

.field {
  margin-top: 5%;
  margin-right: 15px;
}

.log-in {
  display: flex;
  justify-content: center;
  font: 0.65em "neoteric";
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  color: dodgerblue;
  font-weight: bold;
}